FoodPin/FoodPin/Assets.xcassets/abouticons/.DS_Store
FoodPin/FoodPin/Assets.xcassets/.DS_Store
FoodPin/FoodPin/.DS_Store
FoodPin/.DS_Store
password/password.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
password/password.xcodeproj/project.xcworkspace/contents.xcworkspacedata
password/password.xcodeproj/xcuserdata/slava.xcuserdatad/xcschemes/xcschememanagement.plist
password/password.xcodeproj/project.pbxproj
.DS_Store
*.xcuserstate

